body {
	background-image: url(index/img/bg.jpg);
	background-size: 100% !important;
	overflow: hidden;
}

footer {
	position: absolute;
	top: 0;
}

a {
	text-decoration: none;
	padding: .2em 1em;
}

* {
	padding: 0;
	margin: 0;
}

.footer { 
	background-color: #292c2f;
	box-sizing: border-box;
	width: 100%;
	text-align: center;
	padding: 15px;
}

.nav {
	margin: 0;
	padding: 1em;
	list-style: none;
	text-align: center;
}

.nav li {
	display: inline;
	font-family: 'Mate', serif;
	font-size: 28px;
	color: #fff;
}

.nav li:hover {
	color: #A52A2A;
}

.logo {
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	animation: bounceIn 2s;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.logo:hover {
	-webkit-transform:scale(1.1);
	transform:scale(1.1);
}

.Text {
	font-family: 'Mate', serif;
	position: absolute;
	color: white;
	text-align: center;
	bottom: 20%;
	left: 0;
	right: 0;
	margin-bottom: 0px;
	font-size: 24px;
	animation: bounceIn 2s;
}

@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  100% {
    transform: scale(1);
  }
}